* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: RubiksLight;
  src: url(/Rubik/static/Rubik-Light.ttf);
}
@font-face {
  font-family: RubiksReg;
  src: url(/Rubik/static/Rubik-Regular.ttf)
}
@font-face {
  font-family: RubiksBold;
  src: url(/Rubik/static/Rubik-Bold.ttf);
}
@font-face {
  font-family: RubiksSBold;
  src: url(/Rubik/static/Rubik-SemiBold.ttf);
}
 body {
   font-size: 16px;
   text-align: center;
 }
ul {list-style-type: none;} 
.word {
  font-family: RubiksReg;
  color: hsl(229, 8%, 70%);
}
 header {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 20px;
   background: #ffffff;
 }
 header input,  label .close{
   display: none;
 }
 header nav {
  position: absolute;
  top:100%;
  left: 10%;
  width: 80%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 250ms ease-in;
  z-index: 55;
}
nav ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  font-family: RubiksReg;
  text-align: center;
  margin-top: 20px;
  font-size: 1.3rem;
  color: #ffffff;
}
.overlay {
  display: none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsl(229, 31%, 21%);
  z-index: 99;
  opacity: .8;
}
header nav ul li {
  padding: 20px;
  border-top: 1px solid hsl(229, 8%, 40%) ;
  text-transform: uppercase;
 }

 header nav ul li:last-child a {
    border: solid;
    padding: 8px 50px;
    border-radius: 5px;
 }

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
#menu:checked ~ .logo {
  z-index: 100;
  color: #ffffff;
  background: #ffffff;
}
 #menu:checked ~ nav {
  transform: scale(1,1);
  z-index: 150;
}
#menu:checked ~ label  .hamburger {
  display: none;
}
#menu:checked ~ label .close {
  display: block;
  position: relative;
  z-index: 100;
}
#menu:checked ~ .overlay {
  display: block;
}
.section-1 {
  width: 100%;
  padding: 50px 50px;
}
.section-1 .section-1-image {
  width: 100%;
  margin: 20px auto; 
  position: relative;
}
.section-1 img {width: 100%;}
.section-1 .section-1-image::after {
  content: " ";
  position: absolute;
  bottom: 0;
  right: -50px;
  z-index: -1;
  width: 80%;
  height: 70%;
  background: hsl(231, 69%, 60%);
  border-bottom-left-radius:  35%;
}
.section-1-details {padding: 20px 0 40px 0;}
.section-1-details h1 {
  font-size: 2rem;
  padding: 10px 30px;
  font-family: RubiksBold;
}
.section-1-details p {
  padding: 20px 0;
}
.section-1-details a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  background:  hsl(231, 69%, 60%);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: RubiksReg;
  margin-bottom: 30px;
}
.section-1-details a:nth-of-type(2) {
  background: hsl(229, 8%, 98%);;
  opacity: 0.9;
  color: hsl(229, 8%, 70%);
  margin-left: 10px;
}
.section-2 {
  padding: 40px 30px;
  width: 100%;
}
.section-2 h2 {
  font-size: 1.5rem;
  padding: 10px 30px;
  font-family: RubiksBold;
  color: hsl(229, 31%, 41%);
}
.section-2 p {
  padding: 10px 0 30px 0;
}
.section-2 ul {
  list-style-type: none;
  font-family: RubiksReg;
  color: hsl(229, 8%, 70%);
  padding: 0 0 20px 0;
  width: 80%;
  margin: auto;
}
.section-2 ul li {
  padding: 20px 0;
  border-top: 1px solid hsl(229, 8%, 40%) ;
  cursor: pointer;
}
.section-2 ul li:nth-child(3) {
  border-bottom: 1px solid hsl(229, 8%, 40%) ;
}
.section-2 ul li:hover {
  color: hsl(0, 94%, 66%);
}
.section-2 .tab-content-image {
  width: 100%;
  padding: 30px 0;
  margin: 20px auto; 
  position: relative;
  /* border: red solid 1px; */
}
.section-2 .tab-content-image img {
  width: 100%;
  object-fit: cover;
}
.section-2 .tab-content-image::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: -50px;
  z-index: -1;
  width: 80%;
  height: 70%;
  background: hsl(231, 69%, 60%);
  border-bottom-right-radius:  35%;
}
.section-2 .tab-content {
  width: 100%;
  padding: 30px 0;
}
.section-2 .tab-content h3 {
  font-size: 1.5rem;
  padding: 10px 30px;
  font-family: RubiksBold;
  color: hsl(229, 31%, 41%);
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}
.tab {position: relative;}

.tab.active:after  {
  content: " ";
  position: absolute;
  width: 200px;
  margin: 0 auto;
  background: hsl(0, 94%, 66%);
  height: 5px;
  bottom: 0;
  left: 24%;
} 
.section-3 {padding: 30px 30px;}
.section-3 h2 {
  font-size: 1.5rem;
  padding: 10px 30px;
  font-family: RubiksBold;
  color: hsl(229, 31%, 41%);
}
.section-3 p {
  font-size: 1rem;
  font-family: RubiksReg;
  color: hsl(229, 8%, 70%);
  padding: 10px 0 30px 0;
}
.section-3 ul {
  list-style-type: none;
}
.section-3 .box {
  padding: 20px 30px;
  margin: 20px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  background: url(/images/bg-dots.svg) no-repeat bottom 25% right 0/contain;
  border-radius: 10px;
}
.section-3 .box img {padding: 20px 0;}
.section-3 .box h5 {
  font-size: .9rem;
  font-family: RubiksBold;
  color: hsl(229, 31%, 41%);
}
.section-3 .box p {padding: 10px 0 50px 0;}
.section-3 .box button {
  margin: 25px 0 10px 0;
  padding: 15px 30px;
  outline: none;
  border: none;
  background: hsl(231, 69%, 60%);
  border-radius: 5px;
  color: #ffffff;
  font-family: RubiksSBold;
}
.section-4 {
  width: 80%;
  margin: auto;
}
.section-4 h3 {
  font-size: 1.5rem;
  padding: 10px 30px;
  font-family: RubiksBold;
  color: hsl(229, 31%, 41%);
}
.section-4 p {
  text-align: left;  
}
.section-4 > p {
  padding: 10px 0 30px 0;
}
.section-4 .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid hsl(229, 8%, 60%);
  padding: 15px 0;
}
.section-4 .last { border-bottom: 1px solid hsl(229, 8%, 60%);}
.section-4 .accordion p.dropdown  {
  padding: 15px 0;
  text-align: left;
  animation: animate .7s;
}
.section-4 img.active {
  transition: transform .5s ease-in-out;
}

.section-4 .hideText {
  display: none;
}
@keyframes animate {
  from{
    opacity: 0;
    transform: scale(0.6);
  }
  t0 {
    opacity: 1;
    transform: scale(1);
  }
}
.section-4 a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: RubiksSBold;
  padding: 15px 30px;
  background: hsl(231, 69%, 60%);
} 
footer .section-a {
  /* border: red solid 1px; */
  padding: 30px 0;
  margin-top: 40px;
  background: hsl(231, 69%, 60%);
}
footer .section-a p {
  font-family: RubiksLight;
  color: #ffffff;
  padding: 15px  0;
}
footer .section-a h6 {
  font-size: 1.5rem;
  padding: 10px 70px;
  font-family: RubiksSBold;
  color: #ffffff;
}
footer .section-a form {
  width: 50%;
  margin: 0 auto;
}
footer .section-a .form-group {
  position: relative;
  width: 100%;
}
footer .section-a img {
  position: absolute;
  top: 7px;
  right: 5px;
  display: none;
}
footer .section-a .form-group input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  z-index: 0;
}
footer .section-a small{
  background: hsl(0, 94%, 66%);
  display: block;
  color: #ffffff;
  padding: 45px 0 5px 0;
  border-radius: 5px;
  font-family: RubiksReg;
  text-align: left;
  z-index: -1;
  visibility: hidden;
}
footer .section-a button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: hsl(0, 94%, 66%);
  color: #ffffff;
  font-family: RubiksSBold;
  cursor: pointer;
}
footer .section-b {
  padding: 30px 0;
  background: hsl(229, 31%, 30%);
}
footer .section-b ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 0;
  color: #ffffff;
  font-family: RubiksSBold;
}
footer .section-b ul:nth-of-type(2) {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 650px) {
  header {
    width: 90%;
    margin: auto;
  }
  header nav {
    all: unset; 
  }
  header nav ul {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  header label {display: none;}
  header nav ul li {
    border: none;
    margin: 0;
    padding: 0;
  }
  header nav ul li a {
    color: hsl(229, 31%, 21%);
    font-size: 1rem;
  }
  header nav ul li a:hover {
    color: hsl(0, 94%, 66%);
  }
  header nav ul li:last-child a {
    background: hsl(0, 94%, 66%);
    border: 1px;
    color: #ffffff;
  }
  header nav ul li:last-child a:hover {
    background: none;    
    border: 1px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
  }
  .section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'details image';
    text-align: left;
  }
  .section-1-image {
    grid-area: image;
  }
  .section-1-details {
    grid-area: details;
    width: 70%;
    margin: 100px 0 0 50px;
  }
  .section-1-details h1 {
    padding: 0;
  }
  .section-1-details a:hover {
    background: none;
    border: 1px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
  }
  .section-1-details a:nth-of-type(2):hover {
    background: #ffffff;
    opacity: 0.9;
    border: 1px solid hsl(229, 8%, 70%);
    color: hsl(229, 8%, 70%);
  }
   .section-2 > p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
  }
  .section-2 ul {
    display: flex;
    justify-content: space-around;
    border-bottom:  1px solid hsl(229, 8%, 40%);
  }
  .section-2 ul li {
    padding: 0;
    border-top: none;
    cursor: pointer;
  }
  .section-2 ul li:nth-child(3) {  border-bottom: none ;  }
  .tab.active:after  {
    content: " ";
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background: hsl(0, 94%, 66%);
    height: 5px;
    bottom: -20px;
    left: 0;
  } 
  .details{
     margin-top: 25% ;
     width: 80%;
     text-align: left;
    }
  .section-2 .tab-content h3 { padding: 0;}
  .active[data-tab-content] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .section-3 > p {
    max-width: 500px;
    margin: auto;
    line-height: 1.4rem;
  }
  .section-3 ul {
    margin: -100px auto 50px auto;
    display: flex;
    gap: 50px;
  }
  .section-3 .box {margin:auto;}
  .section-3 ul li:nth-child(2) {margin-top: 15%}
  .section-3 ul li:nth-child(3) {margin-top: 20%;}
  .section-3 .box button:hover {
    background: none;
    border: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    cursor: pointer;
  }
  .section-4 {
    max-width: 800px;
  }

  .section-4 ul li:hover {
    cursor: pointer;
  }
  .section-4 ul li:hover .question p {
    color: hsl(0, 94%, 66%);
  }
  footer .section-a form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 1px solid red; */
  }
  footer .section-a form input {
    width: 80%;
  }
  footer .section-a form button {
    width: 20%;
    margin-top: -22px;
  }
  footer .section-b {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px  50px;
  }
  footer .section-b ul {
    display: flex;
    gap: 30px;
  }
  footer .section-b ul li a:hover {color: hsl(0, 94%, 66%);}
}